/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	Margin: 0;
	Padding: 0;
}
.clear{clear: both}
body{
	background-image: url("../Images/castle1.png");}
img{
	width: 10%;
}
li{
	margin-left: 0;
}

#body{
	background-color: black;,
}

#Container{
	background-color: #3E4F60;
	width: 800px;
	margin: 0 auto;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
#Top h1 a{
	text-transform: none;
	color: white;
	text-decoration: none;
}

#Top{
	background-color: #3E4F60;
	color: white;
	width: 70%;
	margin-left: 50px;
}

#Nav{
	background-color: #0000c3;
	color: white;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 10px;
}

#Pic{
	margin-top: 150px;
}

#SideL{
	float: left;
	width: 15%;
}
#Channel{
	color: #70B0D0
	underline: none;
	text-transform: none;
}
#SideM{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	color: #70B0D0;
}
#SideM h1{
	color: #0064B8;
	font: 50px;
}
#SideM p{
	font: 50px;
}
#SideR{
	float: right;
	width: 10%;
}

#bottom ul li h4{
	list-style: none;
	float: none;
	position: relative;
	display: inline-block;
	font-size: 28px;
	border-right: 3px solid red;
}

#bottom ul li{
	list-style: none;
	float: none;
	position: relative;
	display: inline-block;
	font-size: 28px;
	border-right: 3px solid red;
}

#Overworld{
	text-transform: none;
	font-size: 26px;
	float: right;
	padding-right: 30px;
	color: #70B0D0;
}

/* Top Level Nav */
#Nav ul{}
#Nav ul li{
	list-style: none;
	float: left;
	position: relative;
	background-color: #0000c3;
	display: inline-block;
	text-transform: uppercase;
	font-size: 36px;
	min-width: 30%;
	border-right: 3px solid red;
	border-top-right-radius: 30px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 20px;
	margin-left: 100px;
	text-indent: 45px;
	border: 4px solid #000099;
}
#Nav ul li ul li{
	border-radius: 25px;
	min-width: 100%;
	border: 4px solid #000099;
}
#Nav ul li:first-child a{
	border-left: none;
}

#Nav ul li a{
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
#Nav ul li:hover{
	color: white;
	background-color: #000099;
}



/* Sub Level Nav */

#Nav ul li ul{
	position: absolute;
	left: -9999px;
	font-size: 22px;
	border-left: none;
	color: white;
}

#Nav ul li:hover ul{
	left: 0px;
}

#Nav ul li ul li{
	font-size: 22px;
	border-left: none;
}
#Nav ul li ul:hover li{
	left: 0px;
}
#Nav ul li ul li:hover a{
	font-size: 30px;
}
.1{
	min-width: 300px;
	min-height: 250px;
}

.2{
	min-width: 300px;
	min-height: 250px;
}
/* Mario Animation */
@keyframes Mario{
	from{
		background-position: -5px 0px;
	}
	to{
		background-position: 77px 0px;
	}
}
@keyframes ground{
	from{
		background-position: 0px 0px;
	}
	to{
		background-position: -68px 0px;
	}
}
@keyframes sky{
	from{
		background-position: 511px 0px;
	}
	to{
		background-position: 0px 0px;
	}
}
@-webkit-keyframes Mario{
	from{
		background-position: -5px 0px;
	}
	to{
		background-position: 77px 0px;
	}
}
@-moz-keyframes Mario{
	from{
		background-position: -5px 0px;
	}
	to{
		background-position: 77px 0px;
	}
}
@-webkit-keyframes ground{
	from{
		background-position: 0px 0px;
	}
	to{
		background-position: -68px 0px;
	}
}
@-moz-keyframes ground{
	from{
		background-position: 0px 0px;
	}
	to{
		background-position: -68px 0px;
	}
}
@-webkit-keyframes sky{
	from{
		background-position: 511px 0px;
	}
	to{
		background-position: 0px 0px;
	}
}
@-moz-keyframes sky{
	from{
		background-position: 511px 0px;
	}
	to{
		background-position: 0px 0px;
	}
}

#Mario{
	list-style: none;
	margin: auto;
	padding: 0;
	height: 224px;
	width: 800px;
}
#walk{
	display: inline-block;
	background-image: url("../Images/walk.png"); ;
	height: 23px;
	width: 19px;
	text-indent: -9999px;
	background-position: -5px 0px;
	z-index: 13;
	position: absolute;
	float: left;
	margin-left: 200px;
	top: 236px;
}
#Ground{
	display: inline-block;
	background-image: url("../Images/2.png"); ;
	height: 25px;
	width: 800px;
	text-indent: -9999px;
	background-position: 0px 0px;
	z-index: 12;
	position: relative;
	margin-top:  199px;
}
#sky{
	display: inline-block;
	background-image: url("../Images/sky.png"); ;
	height: 224px;
	width: 800px;
	text-indent: -9999px;
	background-position: 0px 0px;
	z-index: 11;
	position: absolute;
}

#walk{ 
	animation: Mario .2s steps(2) infinite;
	-webkit-animation: Mario .2s steps(2) infinite;
	-moz-animation: Mario .2s steps(2) infinite;
}
#Ground{
	animation: ground 1s linear infinite;
	-webkit-animation: ground 1s linear infinite;
	-moz-animation: ground 1s linear infinite;
}
#sky{
	animation: sky 18s linear infinite;
	-webkit-animation: sky 18s linear infinite;
	-moz-animation: sky 18s linear infinite;
}

/* Iphone*/ 
@media screen and (max-device-width: 480px) {
 #walk{
 	top: 278px;
 }
}
/* Media Links */
@keyframes twitter{
	to{
		background-position: 0px 0px;
	}
	from{
		background-position: 160px 0px;
	}
}
@-webkit-keyframes twitter{
	to{
		background-position: 0px 0px;
	}
	from{
		background-position: 160px 0px;
	}
}
@-moz-keyframes twitter{
	to{
		background-position: 0px 0px;
	}
	from{
		background-position: 160px 0px;
	}
}
#Youtube{
	height: 40px;
	width: 84px;
	display: inline-block;
	background-image: url("../Images/youtube.png");
	background-position: 93px 1px;
	margin-left: -2px;
}
#Youtube:hover{
	background-position: 0px 0px;
}
#Steam{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("../Images/steam.png");
	background-position: 42px;
}
#Steam:hover{
	background-position: 0px;
}
#Google{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("../Images/googleplus.png");
	background-position: 47px 0px;
}
#Google:hover{
	background-position: 1px 0px;
}
#Twitter{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("../Images/twitter.png");
}
#Twitter:hover{
	animation: twitter .4s steps(4) infinite;
	-webkit-animation: twitter .4s steps(4) infinite;
	-moz-animation: twitter .4s steps(4) infinite;
}
#Links{
	float: right;
	margin-right: 15px;
}
#Links ul a{
	margin-left: 10px;
}